body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#hero {
  background: linear-gradient(180deg, #1a252f, #0b3850);
  color: #fff;
  height: 100vh;
  width: 100%;
}

#hero-gradient {
  background: linear-gradient(180deg, #0b3850, #2995ce);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;

  animation-name: opacity;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-play-state: paused;
}

#particles-network {
  height: 100vh;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

#hero-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0 0 12px 0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#hero-content h4 {
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.blink {
  animation: blink 0.7s infinite;
}
